### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import os

# File to Load (Remember to Change These)
file_to_load = os.path.join("Resources", "purchase_data.csv")

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
total_number_df = pd.DataFrame([{"Total Players": len(purchase_data)}])
total_number_df

   Total Players
0            780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
purchase_data.count()
purchasing_analysis = [{
    "Number of Unique Items": len(purchase_data.groupby(["Item ID"])),
    "Average Price": '${:,.2f}'.format(purchase_data["Price"].sum()/len(purchase_data)),
    "Number of Purchases": len(purchase_data),
    "Total Revenue": '${:,.2f}'.format(purchase_data["Price"].sum())
    }]
purchasing_analysis_df = pd.DataFrame(purchasing_analysis)
purchasing_analysis_df.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
purchase_data_unique_df = purchase_data.drop_duplicates(["SN"],keep="first")
gender_demographics = pd.DataFrame(purchase_data_unique_df["Gender"].value_counts())
gender_demographics.columns = ["Total Count"]

total_users = gender_demographics["Total Count"].sum()
gender_demographics["Percentage"] = [round((x/total_users)*100,2) for x in gender_demographics["Total Count"]]
gender_demographics["Percentage"] = gender_demographics["Percentage"].astype(str)+"%"
gender_demographics

                       Total Count Percentage
Male                           484     84.03%
Female                          81     14.06%
Other / Non-Disclosed           11      1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
# Get Purchase Count by Gender
male_purchases = purchase_data.loc[purchase_data["Gender"]=="Male",["Price"]]
female_purchases = purchase_data.loc[purchase_data["Gender"]=="Female",["Price"]]
other_purchases = purchase_data.loc[purchase_data["Gender"]=="Other / Non-Disclosed",["Price"]]

# Set the values for Total, Average, and Count of purchases per gender value
total_male_purchase = round(float(male_purchases.sum()),2)
total_female_purchase = round(float(female_purchases.sum()),2)
total_other_purchase = round(float(other_purchases.sum()),2)

avg_male_purchase = round(float(male_purchases.mean()),2)
avg_female_purchase = round(float(female_purchases.mean()),2)
avg_other_purchase = round(float(other_purchases.mean()),2)

num_male_purchase = round(int(male_purchases.count()),2)
num_female_purchase = round(int(female_purchases.count()),2)
num_other_purchase = round(int(other_purchases.count()),2)

# Copy the previous dataframe
gender_summary = gender_demographics

# Create new columns: Purchase Count, Average Purchase Price, Total Purchase Value, and Avg Total Purchase per Person
gender_summary["Purchase Count"] = [num_male_purchase,num_female_purchase,num_other_purchase]
gender_summary["Average Purchase Price"] = [avg_male_purchase,avg_female_purchase,avg_other_purchase]
gender_summary["Total Purchase Value"] = [total_male_purchase,total_female_purchase,total_other_purchase]
gender_summary["Total Count"] = gender_summary["Total Count"].astype(float)
gender_summary["Avg Total Purchase per Person"] = round(gender_summary["Total Purchase Value"]/gender_summary["Total Count"],2)

# Remove columns from previous exercise
gender_summary = gender_summary[["Purchase Count","Average Purchase Price","Total Purchase Value","Avg Total Purchase per Person"]]

#Formatting 
gender_summary["Average Purchase Price"] = "$" + gender_summary["Average Purchase Price"].astype(str)
gender_summary["Total Purchase Value"] = "$" + gender_summary["Total Purchase Value"].astype(str)
gender_summary["Avg Total Purchase per Person"] = "$" + gender_summary["Avg Total Purchase per Person"].astype(str)

gender_summary

/var/folders/vh/s3q0dqzx01g8k8mrs04l_zjw0000gn/T/ipykernel_8803/1738950234.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gender_summary["Average Purchase Price"] = "$" + gender_summary["Average Purchase Price"].astype(str)
/var/folders/vh/s3q0dqzx01g8k8mrs04l_zjw0000gn/T/ipykernel_8803/1738950234.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gender_summary["Total Purchase Value"] = "$" + gender_summary["Total Purchase Value"].astype(str)
/var/folders/vh/s3q0dqzx01g8k8mrs04l_zjw0000gn/T/ipykernel_8803/1738950234.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gender_summary["Avg Total Purchase per Person"] = "$" + gender_summary["Avg Total Purchase per Person"].astype(str)

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Male,652,$3.02,$1967.64,$4.07
Female,113,$3.2,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
# Get the lowest and highest age in the purchase_data
low = purchase_data["Age"].min()
high = purchase_data["Age"].max()

# Create the age bins
age_bins = [low, 9, 14, 19, 24, 29, 34, 39, high]

# Create a list of labels to associate with the bins
bin_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

# Create new column for bins
purchase_data_unique_df["Age Group"] = pd.cut(purchase_data_unique_df["Age"],age_bins,labels=bin_labels)

# Create GroupBy object
age_in_bin = purchase_data_unique_df.groupby(["Age Group"])

# Create a dataframe from the count of the Age column
age_in_bin_df = pd.DataFrame(age_in_bin["Age"].count())

# Rename Total column and Add Percentage column
age_in_bin_df.columns = ['Total Count']
age_in_bin_df["Percentage"] = (round(age_in_bin_df["Total Count"]/len(purchase_data_unique_df)*100,2)).astype(str)+"%"

age_in_bin_df

/var/folders/vh/s3q0dqzx01g8k8mrs04l_zjw0000gn/T/ipykernel_8803/3135102099.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  purchase_data_unique_df["Age Group"] = pd.cut(purchase_data_unique_df["Age"],age_bins,labels=bin_labels)

           Total Count Percentage
Age Group
<10                 10      1.74%
10-14               22      3.82%
15-19              107     18.58%
20-24              258     44.79%
25-29               77     13.37%
30-34               52      9.03%
35-39               31      5.38%
40+                 12      2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
# Find Total Purchase Count by Age Group
count_binned = pd.DataFrame(age_in_bin["Price"].count())
count_binned.columns = ["Purchase Count"]
count_binned.reset_index(inplace=True)

# Find Average Purchase Price by Age Group
average_binned = pd.DataFrame(round(age_in_bin["Price"].mean(),2))
average_binned.columns = ["Average Purchase Price"]
average_binned.reset_index(inplace=True)

# Find Total Amount spent by Age Group
sum_binned = pd.DataFrame(round(age_in_bin["Price"].sum(),2))
sum_binned.columns = ['Total Purchase Value']
sum_binned.reset_index(inplace=True)

# Merge dfs
merged_bins = pd.merge(count_binned,average_binned,on="Age Group")
merged_bins = pd.merge(merged_bins,sum_binned,on="Age Group")

age_in_bin_df["Total Count"].reset_index()
merged_bins["Avg Total Purchase per Person"] = merged_bins["Total Purchase Value"] / age_in_bin_df.reset_index()["Total Count"]

# Formatting
merged_bins["Average Purchase Price"] = "$" + merged_bins["Average Purchase Price"].astype(str)
merged_bins["Total Purchase Value"] = "$" + merged_bins["Total Purchase Value"].astype(str)
merged_bins["Avg Total Purchase per Person"] = "$" + (round(merged_bins["Avg Total Purchase per Person"],2)).astype(str)

merged_bins

,Age Group,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,<10,10,$3.19,$31.86,$3.19
1,10-14,22,$3.07,$67.64,$3.07
2,15-19,107,$3.1,$331.88,$3.1
3,20-24,258,$3.06,$790.39,$3.06
4,25-29,77,$2.91,$223.93,$2.91
5,30-34,52,$2.92,$151.92,$2.92
6,35-39,31,$3.51,$108.81,$3.51
7,40+,12,$3.04,$36.45,$3.04

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
group_by_sn = purchase_data.groupby(["SN"])

# Find the sum of the price column per screenname
user_spent = pd.DataFrame(group_by_sn["Price"].sum())
user_count = pd.DataFrame(group_by_sn["SN"].count())

user_spent.columns = ["Total Purchase Value"]
user_count.columns = ["Purchase Count"]

user_spent.reset_index(inplace=True)
user_count.reset_index(inplace=True)

# Merge the two dfs together
top_spenders_reordered = pd.merge(user_spent,user_count,on="SN")

# Sort the values by Total Purchase Value
top_spenders_reordered = top_spenders_reordered.sort_values("Total Purchase Value",ascending=False)


# Add a column for Average Purchase Price
top_spenders_reordered["Average Purchase Price"] = round((top_spenders_reordered["Total Purchase Value"] / top_spenders_reordered["Purchase Count"]),2)

# Reorder columns, reset index
top_spenders_reordered = top_spenders_reordered[["SN","Purchase Count","Average Purchase Price","Total Purchase Value"]]
top_spenders_reordered.reset_index(inplace=True,drop=True)

#Formatting
top_spenders_reordered["Average Purchase Price"] = "$" + (round(top_spenders_reordered["Average Purchase Price"],2)).astype(str)
top_spenders_reordered["Total Purchase Value"] = "$" + (round(top_spenders_reordered["Total Purchase Value"],2)).astype(str)

top_spenders_reordered.head()

            SN  Purchase Count Average Purchase Price Total Purchase Value
0    Lisosia93               5                  $3.79               $18.96
1  Idastidru52               4                  $3.86               $15.45
2   Chamjask73               3                  $4.61               $13.83
3       Iral74               4                   $3.4               $13.62
4  Iskadarya95               3                  $4.37                $13.1

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
# Group by Item Name
by_item = purchase_data.groupby(["Item Name"])


# Count by Item ID to get Purchase Count
number_sold = pd.DataFrame(by_item["Item ID"].count())
number_sold.columns = ["Purchase Count"]
number_sold.reset_index(inplace=True)

# Take the average of the price column for Item Price
# (Some items are sold at different prices)
item_price = pd.DataFrame(round(by_item["Price"].mean(),2))
item_price.columns = ["Item Price"]
item_price.reset_index(inplace=True)

# Take the sum of the Price column for the total revenue per item
total_value = pd.DataFrame(by_item["Price"].sum())
total_value.columns = ["Total Purchase Value"]
total_value.reset_index(inplace=True)

# Take the max of the Item ID column to pull the Item ID
item_id = pd.DataFrame(by_item["Item ID"].max())
item_id.reset_index(inplace=True)

# Merge the dfs together
merged_byitem = pd.merge(number_sold,item_price,on="Item Name")
merged_byitem = pd.merge(merged_byitem,total_value,on="Item Name")
merged_byitem = pd.merge(merged_byitem,item_id,on="Item Name")

# Reorder columns
merged_byitem = merged_byitem[["Item ID", "Item Name", "Purchase Count", "Item Price", "Total Purchase Value"]]

# Sorting by Purchase Count with Total Purchase Value as Tie breaker
merged_byitem = merged_byitem.sort_values(by=["Purchase Count", "Total Purchase Value"], ascending=False)

# Formatting
merged_byitem_formatted = merged_byitem
merged_byitem_formatted["Item Price"] = "$" + merged_byitem_formatted["Item Price"].astype(str)
merged_byitem_formatted["Total Purchase Value"] = "$" + (round(merged_byitem_formatted["Total Purchase Value"],2)).astype(str)

merged_byitem_formatted.head()

,Item ID,Item Name,Purchase Count,Item Price,Total Purchase Value
56,92,Final Critic,13,$4.61,$59.99
93,178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
92,82,Nirvana,9,$4.9,$44.1
55,145,Fiery Glass Crusader,9,$4.58,$41.22
51,108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [11]:
# Sorting by Purchase Count with Total Purchase Value as Tie breaker
merged_byitem["Total Purchase Value"] = merged_byitem["Total Purchase Value"].str.replace("$", "", regex=True)
merged_byitem["Total Purchase Value"] = merged_byitem["Total Purchase Value"].astype(float)

# Sorting by Purchase Count with Total Purchase Value as Tie breaker
merged_byitem = merged_byitem.sort_values(by=["Total Purchase Value"], ascending=False)

# Formatting
merged_byitem["Total Purchase Value"] = "$" + (round(merged_byitem["Total Purchase Value"],2)).astype(str)

merged_byitem.head()

,Item ID,Item Name,Purchase Count,Item Price,Total Purchase Value
56,92,Final Critic,13,$4.61,$59.99
93,178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
92,82,Nirvana,9,$4.9,$44.1
55,145,Fiery Glass Crusader,9,$4.58,$41.22
125,103,Singed Scalpel,8,$4.35,$34.8